<div class="container" style="height: 0px;">
  <canvas #canvas width="300" height="600" style="float: left; margin: 1.5rem;"></canvas><br />
  <canvas #canvasScore width="200" height="100" style="float: left; margin: 0 20px;"></canvas><br />

  <div id = "aaa">
    <button id="tstart" type="button" class="btn btn-secondary" (click)="onStart()">Start</button><br />
    <button id="tpause" type="button" class="btn btn-primary" (click)="pauseGame()">Pause Play</button>
  </div>

  <!--<button class="btn" (click)="onLeft()"> &lt;- </button>
<button class="btn" (click)="onRight()"> -&gt; </button>
<button class="btn" (click)="onRotate()"> R </button><br /><br /> -->
</div>
